<!DOCTYPE html>
<html>
<head>
  <title>Welcome to my Sinatra App</title>
</head>
<body>
  <a href="/">Home</a>
  <a href="/fizzbuzzagain">Fizz Buzz Again</a>
  <a href="/carstatus">Car Status</a>
  <hr>
  <%= yield %>
</body>
<body>
