    <%= @name%>
    <h1>Contact Us</h1>
    <%# anytime we want to render something we put the = sign before%>
    <%="Hello".capitalize%>
    <%a = 10%>
    <%if a > 5%>
      <p>Hey</p>
    <%else%>
      <p>Yo</p>
    <%end%>
