<!DOCTYPE html>
<html>
<head>
  <title>Company's Sales and Purchases System</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div id="header">
    <h1>Company's Sales and Purchases System</h1>
    <hr>
    <table>
      <tr>
        <td><a href="/suppliers">Suppliers</a></td>
        <td><a href="/customers">Customers</a></td>
        <td><a href="/products">Products</a></td>
        <td><a href="/orders">Orders</a></td>
        <td><a href="/sales">Sales</a></td>
        <td><a href="/users">Users</a></td>
      <tr>
    </table>
    <hr>
  </div>

  <div class="left">
  </div>

  <div class="right">
  </div>

  <div id="footer">
  </div>

  <%= yield %>
</body>
<body>
